.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .inputContainer {
    display: flex;
    width: 80%;
    align-items: center;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .input {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  textarea.input {
    flex: 4 0 auto;
  
  }
  
  .button {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .button:hover{
      background-color: rgba(10, 200, 25, 1);
      color: honeydew;
  }

 .input:hover{
     background-color: lawngreen;
     color: maroon;

 }